.container() {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
  }

  .mixin(@width: 100px, @height: 50px) {
    width: @width;
    height: @height;
    /* прочие свойства */
  }